header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

main{
    /*padding-top: 50px;*/
    height: 100%;
    width: 100%;
}


ul.sidenav.sidenav-fixed{
    -webkit-box-shadow: none;
    box-shadow: none;
    border-right: 5px solid rgba(0, 0, 0, 1);
}

.logo{
    padding-bottom: 90px;
}

.logo img{
    height: 87px;
    width: 192px;
}

.search{


}

.search-wrapper{
    border-top: 1px solid rgba(0,0,0,1);
    border-bottom: 1px solid rgba(0,0,0,1);
    height: 45px;
    margin-bottom: 30px;
}

.search i{
    margin-top: 9px;
    font-size: 28px;
    color: black;
}

#search{
    color: rgb(119, 119, 119);
    font-size: 16px;
    border: none;
    padding-left: 20px;
}

#search::placeholder{
    color: rgba(0, 0, 0, 0.6);
}

#search:focus{
    border: none;
    box-shadow: none;
}

.menu-logo{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: bottom;
}


.menu-text{
    margin-top: 2px;
    font-size: 11px;
    font-weight: 600;
}

.menu-item{
    margin-top: 4px;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

.menu-item a{
    color: black;
}

.profil-btn{
    background-color: #ffdbf1;
    color: black;
    font-weight: 600;
}

.profil-btn2{
    background-color: transparent;
    color: black;
    font-weight: 600;
}

#main-row{
    height: 100%;
    width: 100%;
}

#bg1, #bg2{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    filter: blur(8px);
    -webkit-filter: blur(5px);
}

#bg1{
    background-image: url(../img/ii1.jpg);
}

#bg2{
    background-image: url(../img/ii2.jpg);
}

#slide-out{
    background-image: url(../img/ii3psd.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#title{
    position: absolute;
    top: 20%;
    left: 32.5%;
    z-index: 100;
    background-image: url(../img/ii4psd.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 2px black;
}

#title h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}

#title h2{
    text-align: center;
    font-size: 2rem;
}