html, body{
    margin: 0;
}

header, main, footer {
    padding-left: 200px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

main{
    /*padding-top: 50px;*/
    height: 100%;
    width: 100%;
}


ul.sidenav.sidenav-fixed{
    -webkit-box-shadow: none;
    box-shadow: none;
    border-right: 4px solid rgba(0, 0, 0, 1);
}

.logo{
    padding-bottom: 114px;
    padding-left: 0;
}

.logo img{
    height: 87px;
    width: 182px;
    padding-left: 8px;
}

#logo-link{
    padding: 0;
    padding-top: 16px;
}

.search{


}

.search-wrapper{
    border-top: 1px solid rgba(0,0,0,1);
    border-bottom: 1px solid rgba(0,0,0,1);
    height: 45px;
    margin-bottom: 30px;
}

.search i{
    margin-top: 9px;
    font-size: 28px;
    color: black;
}

#search{
    color: rgb(119, 119, 119);
    font-size: 14px;
    border: none;
    padding-left: 2px;
}

#search::placeholder{
    color: rgba(0, 0, 0, 0.6);
}

#search:focus{
    border: none;
    box-shadow: none;
}

.menu-logo{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: bottom;
}


.menu-text{
    margin-top: 2px;
    font-size: 11px;
    font-weight: 600;
}

.menu-item{
    margin-top: 4px;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

.menu-item a{
    color: black;
}

.profil-btn{
    background-color: #ffdbf1;
    color: black;
    font-weight: 600;
}

.profil-btn2{
    background-color: transparent;
    color: black;
    font-weight: 600;
}

#main-row{
    height: 100%;
    width: 100%;
}

#bg1, #bg2{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    filter: blur(8px);
    -webkit-filter: blur(5px);
}

#bg1{
    background-image: url(../img/ii1.jpg);
}

#bg2{
    background-image: url(../img/ii2.jpg);
}

#slide-out{
    background-image: url(../img/ii3psd.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
}

#title{
    position: absolute;
    top: 9%;
    left: 32.5%;
    z-index: 200;
}

#title-text{
    /*background-image: url(../img/ii4psd.png);*/
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 2px white;
    color: white;
}

#title h1{
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;

}

#title h2{
    text-align: center;
    font-size: 1.8rem;
}

#carousel{
    top: 4%;
    left: 20%;
    position: absolute;
    height: 95vh;
    width: 75%;
    z-index: 100;
    border: solid 2px white;
}

#carousel-1{
    height: 100%;
}

.carousel-item{


    background-repeat: no-repeat;
    background-size: cover;
}

#copyright{
    padding-left: 19px;
    font-size: 0.8rem;
    font-weight: 600;
}

#slide-1{
    background-image: url(../img/ii5.jpg);
}

#slide-2{
    background-image: url(../img/ii6.jpg);
}

#slide-3{
    background-image: url(../img/ii7.jpg);
}

#slide-4{
    background-image: url(../img/ii8.jpg);
}

.carousel-item p{
    position: relative;
    top: 70%;
    font-size: 1.9rem !important;
}