#body{
	
}
#texte{
	width: auto;
	height: 100px;
	margin-left: 100px;
	margin-right: auto;
	margin-bottom: 100px;
	text-align: ;
}
#titre{
	text-align: center;
	margin-top: auto;
}
#boutton{
	
	background-image: url( ../img/Fond_marbre.png);
	background-repeat: no-repeat;
	background-size: 100px;
	width: 5px;
	height: 1990px;
}
#bonhomme{
	margin-left: 680px;
	padding-top: auto;
	margin-bottom: 70px;
}
